<div class="container px-4 padding-bottom">
  <h1 class="text-center pt-3 m-0">Upcoming Trips</h1>
  <% if @next_trips.empty? && @past_trips.empty? %>
    <h3 class='text-notice'>
      Looks like theres nothing here, select create a Trip to get started!
    </h3>
  <% end %>
  <div>
    <% @next_trips.each do |trip| %>
      <%= render 'trip', trip: trip %>
    <% end %>
  </div>
  <h1 class="text-center pt-3 m-0">Past Trips</h1>
    <% @past_trips.each do |trip| %>
      <%= render 'trip', trip: trip %>
    <% end %>
</div>
  <footer>
    <%= link_to 'New Trip', new_trip_path, class: "btn next-btn" %>
  </footer>
