<div data-controller='show-hide'>
  <div class="container" data-show-hide-target='container'>
<h1>Title:<%= @trip.title %></h1>


<footer>
  <button class='btn map-btn' data-action='click->show-hide#toggle'>Map</button>
</footer>
