<div data-controller='show-hide'>
  <div class="slider-container" >
    <div class="slider" data-show-hide-target="slider">

      <div class="slidee container">
        <h1>Title:<%= @trip.title %></h1>
      </div>

      <div class="slidee">
        <%= render "shared/hidden_mapbox" %>
      </div>

    </div>
  </div>

  <footer>
    <button class='btn map-btn' data-action='click->show-hide#toggle'>Map</button>
  </footer>
</div>
