// Define variables for your color scheme

// using:
$blue: #E5FDFA;
$dark-blue: #26547C;
$green: #04A777;
$white: #ffffff;
$gray-titles: #2b2b2b;
$gray-subtitles: #888888;
$light-gray: #F4F4F4;
$blue-background: #E5FDFA;

// Not in use:
$red: #f84043;
$yellow: #ffcc6c;
$orange: #ff9539;
$pink: #ffa8b7;
$heart-pink: #ff4ed3;
