// Define variables for your color scheme

// using:
$blue: #E5FDFA;
$dark-blue: #26547C;
$green: #04A777;
$white: #ffffff;
$gray-titles: #313131;
$gray-subtitles: #888888;
$light-gray: #F4F4F4;
$blue-background: #E5FDFA;

// Not in use:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
