// Specific CSS for your home-page

* {
  padding: 0;
  margin: 0;
}

body {
  // iphone 11 dimensions:
   width: 414px;
   height: 896px;
   background-color: $blue;
   color: $gray-titles;
  //  background-image: linear-gradient(rgba(255, 255, 255, 1) 60%,rgba(255, 255, 255, 0)), url('00alien_planet_june22.jpg');
  //  object-fit: cover;
  //  background-repeat: no-repeat;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 490px;
  justify-content: space-around;
  padding-top: 10px;

}

.home-p {
  height: 94.16%;
  width: 100%;
  // display: flex;
  background-color: $dark-blue!important;
  color: $blue;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 60%,rgba(255, 255, 255, 0)), url('alien_photo.png');
  background-size: contain;
  background-position: bottom;
  object-fit: contain;
  background-repeat: no-repeat;


  .p-scroll {
    height: 21.5px;
    margin: 0px;
  }
}

.home-text {
  text-align: center;

}

.text-home {
  padding: 10px 10px;

  h2 {
    font-size: 1rem;
    padding-top: 10px;
  }
}

.home_button {
  margin-bottom: 15px;
}

.home_icon {
  font-size: 1.2rem;
}

.dayt_word {
  font-size: 1.5rem;
  h2 {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
  }

  .home_icon {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
  }
}
