// Specific CSS for your home-page

* {
  padding: 0;
  margin: 0;
}

body {
  // iphone 11 dimensions:
   width: 414px;
   height: 896px;
   background-color: $blue;
   color: $gray-titles;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  justify-content: space-around;
  margin-top: 20px;


}

.home-p {
  height: 94.16%;
  display: flex;
  background-image: linear-gradient(rgba(255, 255, 255, 1) 60%,rgba(255, 255, 255, 0)), url('home.jpeg');
  background-size: cover;
  background-position: top;

  .p-scroll {
    height: 21.5px;
  }
}

.home-text {
  text-align: center;
}
