.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  justify-content: space-around;
    .btn {
      border-color: aquamarine;
      background-color: white;
    }

}

#traveler {
  height: 200px;
  width: 200px;
  text-align: center;
}

#local {
  height: 200px;
  width: 200px;
  text-align: center;
}
