.pre-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
    .btn {
      border-color: aquamarine;
      background-color: white;
    }
}

.preferences {
  background-color: white;
}

.simple_form {
  color: $gray-titles;
}

.form-control {
  border-radius: 10px;
  border: 2px solid $dark-blue;
  background-color: white;
}
