.pre-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
    // .btn {
    //   border-color: aquamarine;
    //   background-color: white;
    // }

  p {
    color: $gray-titles;
    font-family: $headers-font;
    font-size: 1.25rem;
  }
}
::placeholder {
  color: $gray-subtitles;
  font-family: $body-font;
  font-size: 0.8rem;
}

.preferences {
  background-color: white;
  padding-bottom: 80px;
  h1 {
    color: $green;
    font-size: 1.5rem;
  }
}

.simple_form {
  color: $gray-titles;
}

.form-control {
  border-radius: 10px;
  border: 2px solid $dark-blue;
  background-color: white;
}

.preference-titles {
  margin-top: 35px;
}

.preference-titles:first-of-type {
  margin-top: 15px;
}

.form-control:focus, .form-control:active {
  background-color: white;
  border: 2px solid black;
}


#trip_distance {
  border-radius: 10px;
  border: 2px solid $dark-blue;
  background-color: white;
  padding: 6px 12px;
  width: 390px;
  height: 40px;
  text-align: center;
  color: black;
  font-family: $body-font;
  font-size: 0.8rem;

  #trip_distance:dropdown {
    width: 390px;
    text-align: center;
    color: $gray-subtitles;
  }
}
