<div class = "mapmarker" style = "background-image: url(<%= dayt.photos.first ? cl_image_path(dayt.photos.first.key) : 'https://images.unsplash.com/photo-1527631746610-bca00a040d60?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80' %>"></div>
