<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <ul id="hello-list">

        <li>
          <div class="card align-items-center">
            <div class="card-body">
              <p><i class="fa-solid fa-grip-dots-vertical"></i>hello</p>
            </div>
          </div>
        </li>

        <li>
          <div class="card align-items-center">
            <div class="card-body">
              <p><i class="fa-solid fa-grip-dots-vertical"></i>hello world</p>
            </div>
          </div>
        </li>

        <li>
          <div class="card align-items-center">
            <div class="card-body">
              <p><i class="fa-solid fa-grip-dots-vertical"></i>world</p>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>
