<div class="container home-p">
  <div class="home-content">
      <h1>Welcome to Dayt</h1>

      <div>
        <%= link_to "Create a Trip", journey_path, class: "full-btn waves btn-big" %>
      </div >

      <p class="p-scroll"><span data-controller='scroll' id="title"></span>
      <div class='home-text'>
        <div >
          <h2 class ='text-home'>Experiences Curated by Locals</h2>
          <p>Locals share their favourite spots, bars, restaurants, landmarks, viewpoints and other hidden gems for travellers.</p>
        </div>
        <div >
        <h2 class ='text-home'>Personalised Recomendations</h2>
          <p>Thanks to filtering based on location, distance and personal preferences </p>
        </div>
      </div>
  </div>
</div>
<% render 'layouts/footer' %>
