<div class="container">
<%= render "layouts/home_selection_cards" %>
  <div class='home-content'>
    <h1>I am a..</h1>
    <div>
        
    </div>
    <div>
        <%= link_to "Local", new_trip_path, :id => 'local',
        :class => "btn", :method => :get %>
    </div>
  </div>
</div>
