<div data-controller='show-hide' class='bg-index'>
  <div class="slider-container" >
    <div class="slider" data-show-hide-target="slider">

      <div class="slidee">
        <div class="swiper" data-controller='swiper'>
          <div class="swiper-wrapper">
            <% @dayts.first(6).each do |dayt|  %>
              <div class="swiper-slide" data-controller="trip-dayt">
              <%= render 'slide', dayt: dayt, trip: @trip %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="slidee slidee-map">
        <%= render "shared/hidden_mapbox" %>
      </div>

    </div>
  </div>

  <footer>
    <button class='btn map-btn' data-action='click->show-hide#toggle'>Map</button>
    <%= link_to "Next", itinerary_path(@trip), class: "btn next-btn" %>
  </footer>
</div>
