
<div class="container">
  <div class="swiper" data-controller='swiper'>
    <div class="swiper-wrapper">
      <% @dayts.first(6).each do |dayt|  %>
        <div class="swiper-slide" data-controller="trip-dayt">

        <%= render 'slide', dayt: dayt, trip: @trip %>

        </div>
      <% end %>
    </div>
  </div>
  <%= render "mapbox" %>

<div class='container'>
 <div >
        <%= link_to "Next", itinerary_path,
        :class => "btn next-btn", :method => :get %>
  </div>

</div>
