.btn {
  border-radius: 10px;
  border: 2px solid $blue;
  padding: 12px 20px;
  background-color: rgba(255, 255, 255, 0);
  font-family: $headers-font;
  color: $gray-titles;
  font-weight: $font-kodchasan-semi-bold;

    &:hover {
      background-color: $blue;
      border: 2px solid white;
    }

}

.full-btn {
  border-radius: 10px;
  border: 1px solid $blue;
  padding: 12px 20px;
  background-color: $dark-blue;
  font-family: $headers-font;
  color: white;
  font-weight: $font-kodchasan-semi-bold;
  text-align: center;
}

.next-btn {
  background-color: $green;
  color: white;
  border-radius: 20px;
  padding: 20px 30px;
  font-family: $headers-font;
  font-weight: $font-kodchasan-semi-bold;
}

.btn-map {
  background-color: $dark-blue;
  border-radius: 20px;
  color: white;
  padding: 20px 30px;
  font-family: $headers-font;
  font-weight: $font-kodchasan-semi-bold;
}
