.expanded {
  .carousel {
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.20);
    border-radius: 15px;
  }
  .expanded-photo {
    border-radius: 15px;
  }
  .avatar-dayt {
    position: absolute;
    top: -23px;
    right: 14px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: $white 2px solid;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.20);
  }
  .title-expanded {
    position: relative;
  }
  .text-expanded {
    font-size: $h3-font-size;
  }
  i {
    width: 16px;
  }
}

.exp-title {
  font-size: 40px;
}
