.home_cards {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: space-between;
}

.banner {
  background-size: cover;
  background-position: top;
  padding: 130px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.tourist_card {
  border-radius: 15px;
  margin: 0px 15px;
  margin-bottom: 40px;
}

.local_card {
  border-radius: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.home_text {
  text-align: center;
  font-size: 2rem;
}
