// <========== Le wagon SCSS NAVBAR:  ===========>
.navbar-lewagon {
  justify-content: space-between;
  background: $blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}



a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  color: $green
}

.previous {
  color: $gray-titles;
}
