// <========== Le wagon SCSS NAVBAR:  ===========>
.navbar-lewagon {
  justify-content: space-between;
  background: $blue;

  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }

  a:hover {
    color: $green
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fa-angle-left {
  margin-left: 12px;
}

.previous {
  color: $gray-titles;
  border: none;
  background-color: $blue;
  width: 60px;
  display: flex;
}

.dayt-logo {
  height: 35px;
}

.navbar-toggler {
  border: none;
  font-size: 28px;
}

.navbar-nav {
  font-size: 1.2rem;


}

.nav-item {
  padding-top: 10px;
  font-family: $headers-font;
}

.dropdown-toggle {
  border: 1px solid rgb(125, 125, 125);
}

.transparent {
  opacity: 0;
}

.fa-bars {
  color: black;
  font-size: 27px;
}

.navbar {
  overflow: hidden;
  position: sticky;
  top: 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.20);
  width: 100%;
  background-color: $blue;
  z-index: 1;


}
