#hello-list {
  list-style: none;
  padding-left: 0;
  position: relative;
  li {
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
}

.dayt-details {
  position: relative;
  justify-content: space-between;
}

.dayt-time {
  text-align: center;
  justify-content: space-between;
}

.dayt-info {
  position: relative;
  border-radius: 15px ;
  background-color: $blue;
  box-shadow: 8px 5px 5px #478f85;
  border: 1px solid #adfbd9;

  p, h2 {
    margin: 0;
  }
  .fa-xmark {
    position: absolute;
    top: 3px;
    left: 6px;
    color: black;
    font-size: 20px;
    z-index: 3;
  }
}

.delete-dayt {
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.location-pos {
  position: absolute;
}

@for $height from 1 through 100 {
  .card-height-#{$height} {
    height: percentage($height / 100);
  }
}

#calendar-container {
  height: calc(100vh - 24px - 42px - 52px - 150px);
}

.head-trip {
  text-align: center;
}

.lock-card {
  height: 100%;
  box-shadow: 1px 1px 1px lightgrey;
}

.a-style {
  a, a:hover, a:focus{
    text-decoration: none;
    color: inherit;
  }
}

#slider-container-itinerary {
  height: calc(100vh - 52.5px);
  h1 {
    padding-top: 16px;
  }
}

#order-calendar-form {
  position: absolute;
  width: 50px;
  right: 0;
  top: 12px;
  margin-right: 35px;
}

.calendar {
  p {
    margin-bottom: 0px;
  }
}

.organise-header {
  height: 82px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  a {
    position: absolute;
    top: 22px;
    right: 7px;
    color: black;
    font-size: 30px;

  }
}

.map_organise_trip {
  margin-left: 25px;
}

.fa-hand-pointer {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 4;
  top: 14px;
  right: 16px;
  font-size: 26px;
  transition: 1.5s ease-in-out;
  opacity: 0;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.187);
}

.move-hand {
  top: 130px;
  opacity: 1;
}
// #dayt-order-form-btn {

// }

.hide {
  opacity: 0;
}

.map-top {
  margin-top: 130px;
}
