// TAGS active when clicked: to use when BACKEND READY ====>

.tag-item {
  display: inline-block;
  padding: 0px;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  border-radius: 50rem!important;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 50rem!important;
  padding: 0.4rem 0.8rem!important;
  background-color: $blue;
  font-family: $headers-font;
  color: $gray-titles;
  border: 1px solid $green;
  transition: 0.3s;
}

.tag-selector:checked + label {
  background-color: $dark-blue;
  color: white;
}
