.trip-link {
  color: white;
  font-weight: bold;

  text-align: center;
  text-decoration: none;
  margin: 10px;
}

.trips {
  padding-bottom: 106px;
}

.card-trip {
  padding: 20px 10px;
  border-radius: 10px;
  background-position: center;
  position: relative;
  h3 {
    font-size: 1.5rem;
    margin-bottom: 0px;
  }
  .fa-solid {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .fa-pen-to-square {
    right: 35px;
  }
}


.text-notice {
  text-align: center;
  margin: 50% auto;
  color: $gray-subtitles;
}
