<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/hwalk1/dayt_app"><i class="fab fa-github"></i></a>
    <%# <a href="#"><i class="fab fa-instagram"></i></a> %>
    <%# <a href="#"><i class="fab fa-facebook"></i></a> %>
    <%# <a href="#"><i class="fab fa-twitter"></i></a> %>
    <%# <a href="#"><i class="fab fa-linkedin"></i></a> %>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by Aren, Hayden, Lea, and Michael.
  </div>
</div>
