
<%# ========== TOURIST / LOCAL home cards ============= %>
<div class="home_text">
  <h1 class="pt-3">I am a ...</h1>
</div>

<div class="home_cards">

  <div class="banner tourist_card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dmcsijvtd/image/upload/v1655119481/development/5805585_uxqaco.jpg);">
    <div>
      <%= link_to "Traveler", new_trip_path,
        :class => "waves full-btn btn-big", :method => :get %>
    </div>
  </div>

  <div class="banner local_card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjHtAV5_6NRaoXNGq4j8sunSKGx5UccTKY0w&usqp=CAU);">
    <div>
      <%= link_to "Local", mydayts_path,
        :class => "waves full-btn btn-big", :method => :get %>
    </div>
  </div>
</div>
