
<%# ========== TOURIST / LOCAL home cards ============= %>
<div class="home_text">
  <h1>I am a ...</h1>
</div>

<div class="home_cards">

  <div class="banner tourist_card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://news.artnet.com/app/news-upload/2015/06/CS26_0012_Hanson_OH_GCR-e1435240143734.jpg);">
    <div>
      <%= link_to "Traveler", new_trip_path,
        :class => "btn full-btn", :method => :get %>
    </div>
  </div>


  <div class="banner local_card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjHtAV5_6NRaoXNGq4j8sunSKGx5UccTKY0w&usqp=CAU);">
    <div>
      <%= link_to "Local", mydayts_path,
        :class => "btn full-btn ", :method => :get %>
    </div>
  </div>
</div>

<%# <%= link_to 'Book Now', venue_path(venue), class:"btn book stretched-link w-100" %>
<%#  btn-primary stretched-link w-100 %>
