
<%# ========== TOURIST / LOCAL home cards ============= %>
<div class="home_text">
  <h1 class="pt-3">I am a ...</h1>
</div>

<div class="home_cards">

  <div class="banner tourist_card" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dmcsijvtd/image/upload/v1655298030/development/00alien_planet_june22_dl5wfl.jpg);">
    <div>
      <%= link_to "Traveler", new_trip_path,
        :class => "waves full-btn btn-big", :method => :get %>
    </div>
  </div>

  <div class="banner local_card" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dmcsijvtd/image/upload/v1655333818/development/local_planet1_flm1y5.jpg);">
    <div>
      <%= link_to "Local", mydayts_path,
        :class => "waves full-btn btn-big", :method => :get %>
    </div>
  </div>
</div>
