
 <nav class="nav container">
  <a href="#" class="nav_logo">LOGO</a>

    <div class="nav_menu" id="nav-menu">
      <ul class="nav_list grid">

        <li class="nav_item">
          <a href="#home" class="nav_link">
            <i class="fa-solid fa-house nav_icon"></i> Home
          </a>
        </li>

        <li class="nav_item">
          <a href="#home" class="nav_link">
            <i class="fa-solid fa-cards-blank nav_icon"></i> Trips
          </a>
        </li>

        <li class="nav_item">
          <a href="#home" class="nav_link">
            <i class="fa-solid fa-arrow-right-from-bracket nav_icon"></i> Logout
          </a>
        </li>
      </ul>
                <i class="fa-regular fa-xmark"></i>
            </div>

            <div class="nav_btns">
                <div class="nav_toggle" id="nav-toggle">
                <%# burger menu %>
                    <i class="fa-regular fa-bars"></i>
                </div>
            </div>
        </nav>
