<div class="tags">

  <button class="tag-button btn">Outdoor</button>
  <button class="tag-button btn">Indoor</button>
  <button class="tag-button btn">Nice walks</button>
  <button class="tag-button btn">Nighlife</button>
  <button class="tag-button btn">Museums</button>
  <button class="tag-button btn">Horse Riding</button>
  <button class="tag-button btn">Breakfast</button>
  <button class="tag-button btn">Lunch</button>
  <button class="tag-button btn">Dinner</button>

</div>
